html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
    text-transform: uppercase;
}

body {
    color: $light-text;
    position: relative;
    font-size: 16px;
    line-height: 24px;
}

.container {
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}

.button {
    padding: 15px;
    background-color: $btn;
    color: $light-text;
    text-transform: uppercase;
    font-size: 18px;
    &:hover {
        background-color: $btn-hover;
        transition: all 0.3s;
    }
}