html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
    text-transform: uppercase;
}

body {
    color: $dark-text;
    position: relative;
    @extend %Montserrat-Regular;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
}

.container {
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}


/*
.button {
    padding: 15px;
    background-color: $dark-bg;
    color: $light-text;
    text-transform: uppercase;
    @extend %Montserrat-Semi-bold;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.06em;
    &:hover {
        background-color: $dark-bg-hover;
        transition: all 0.3s;
    }
}
*/

.button {
    padding: 15px;
    text-transform: uppercase;
    @extend %Montserrat-Semi-bold;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.06em;
    &:hover {
        transition: all 0.3s;
    }
}

.light-button {
    border: 2px solid $light-text;
    color: $light-text;
    &:hover {
        background-color: $title;
    }
}

.dark-button {
    border: 2px solid $dark-text;
    color: $dark-text;
    &:hover {
        color: $light-text;
        background-color: $title;
    }
}

.title {
    @extend %Montserrat-Bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: $title;
}

.slider {
    position: relative;
    text-align: center;
    &-item {
        color: $dark-text;
        max-width: 300px;
        background-color: #fff;
        border-radius: 5px;
        margin: 15px;
        box-shadow: 0px 0px 8px 5px rgba(211, 211, 211, 0.5);
        transform: scale(0.9);
        &:hover {
            transform: scale(1);
            transition: all 0.5s;
        }
    }
    &-img {
        width: 300px;
        height: 300px;
    }
    &-info {
        padding: 10px;
    }
    &-profession {
        display: block;
    }
}

.slick-arrow {
    position: absolute;
    top: 200px;
    background-color: #5b737f6e;
    border: 3px solid $title;
    width: 45px;
    height: 45px;
    cursor: pointer;
    &-right {
        right: 0;
        z-index: 10;
    }
    &-left {
        left: 0;
        z-index: 10;
    }
    &:hover {
        background-color: $title;
    }
}

.socials__list-item {
    display: inline-block;
    &+.socials__list-item {
        padding-left: 30px;
    }
    img:hover {
        transform: rotate(360deg) scale(1.5);
        transition: transform 0.8s, background-color 0.8s;
        background-color: $title;
        border-radius: 50%;
    }
}