html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
    text-transform: uppercase;
}

body {
    color: $dark-text;
    position: relative;
    font-size: 16px;
    line-height: 24px;
}

.container {
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}

.button {
    padding: 15px;
    background-color: $btn;
    color: $light-text;
    text-transform: uppercase;
    font-size: 18px;
    &:hover {
        background-color: $btn-hover;
        transition: all 0.3s;
    }
}

.title {
    font-size: 24px;
    line-height: 36px;
}

.slider {
    position: relative;
    &-item {
        max-width: 300px;
        background-color: #fff;
        border-radius: 5px;
        margin: 15px;
        box-shadow: 0px 0px 8px 5px rgba(78, 78, 78, 0.5);
    }
    &-img {
        width: 300px;
        height: 300px;
    }
    &-info {
        padding: 10px;
    }
    &-profession {
        display: block;
    }
}

.slick-arrow {
    position: absolute;
    top: 200px;
    background-color: $btn;
    border: none;
    width: 45px;
    height: 45px;
    cursor: pointer;
    &-right {
        right: 0;
        z-index: 10;
    }
    &-left {
        left: 0;
        z-index: 10;
    }
    &:hover {
        background-color: $btn-hover;
    }
}

.socials__list-item {
    display: inline-block;
    &+.socials__list-item {
        padding-left: 30px;
    }
    img:hover {
        transform: rotate(360deg) scale(1.5);
        transition: transform 0.8s, background-color 0.8s;
        background-color: $btn;
        border-radius: 50%;
    }
}