    @import "vars";
    @import "libs";
    @import "fonts";
    @import "global";
    // start header
    .header {
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
        &__inner {
            display: flex;
            justify-content: space-between;
        }
    }
    
    .menu {
        color: $light-text;
        @extend %Montserrat-Semi-bold;
        text-transform: uppercase;
        text-align: center;
        font-size: 16px;
        margin: auto 0;
        &__item {
            display: inline-block;
            &+.menu__item {
                padding-left: 50px;
            }
        }
        &__link {
            &:hover {
                padding-bottom: 2px;
                border-bottom: 5px solid $title;
            }
        }
        &__menu-btn {
            width: 30px;
            display: none;
        }
        &__menu-row {
            width: 100%;
            background-color: $light-text;
            height: 4px;
            margin-bottom: 4px;
        }
    }
    
    // end header
    // start top section
    .top {
        min-height: 700px;
        padding: 25px 0 50px;
        background-image: url('../images/header-bg.jpg');
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
        color: $light-text;
        @extend %Montserrat-Semi-bold;
        &__inner {
            max-width: 825px;
            margin: 0 auto;
            text-align: center;
        }
        &__title {
            margin-top: 200px;
            font-size: 46px;
            line-height: 68px;
            border: thick double $light-text;
            padding: 15px;
            color: #B3D3FC;
        }
        &__text {
            font-size: 18px;
        }
        &__btn {
            margin-top: 50px;
        }
        &__socials {
            margin-top: 80px;
        }
    }
    
    // end top section
    // start design and code section
    .design,
    .code {
        color: $dark-text;
        &__inner {
            display: flex;
            justify-content: space-between;
            padding: 80px 110px;
        }
        &__info {
            max-width: 500px;
            display: flex;
            flex-direction: column;
        }
        &__btn {
            margin-top: 50px;
        }
    }
    
    // end design and code section
    // start cycle section
    .cycle {
        background-color: $dark-bg;
        color: $light-text;
        &__inner {
            display: flex;
            flex-direction: column;
            padding: 80px 0;
        }
        &__title {
            font-size: 30px;
            line-height: 52px;
            width: 700px;
            margin-bottom: 50px;
        }
        &__item-box {
            display: flex;
            justify-content: space-between;
        }
        &__item {
            max-width: 350px;
        }
        &__list-item {
            margin-top: 15px;
            list-style: square inside;
        }
    }
    
    // end cycle section
    // start clients & team section
    .clients,
    .team {
        padding: 40px 0 80px;
        text-align: center;
        &__title {
            margin-bottom: 20px;
        }
        &__text {
            max-width: 900px;
            margin: 0 auto 30px;
        }
        &__recrutiment-title {
            margin: 30px 0;
        }
        &__btn {
            margin-top: 50px;
            text-align: center;
        }
    }
    
    .team {
        background-color: $dark-bg;
        color: $light-text;
    }
    
    // end clients & team section
    // start projects section
    .projects {
        padding: 40px 0 80px;
        .title {
            text-align: center;
            margin-bottom: 20px;
        }
        &__items-box {
            padding: 20px 0;
            display: grid;
            margin: 0 auto;
            grid-template-columns: repeat(3, 1fr);
            grid-row-gap: 20px;
            justify-items: center;
        }
        &__item {
            display: flex;
            flex-direction: column;
            max-width: 350px;
            padding-bottom: 10px;
            &:hover {
                background-color: #f0f0f0;
                transform: scale(1.03);
                transition: all 0.3s;
            }
            img {
                width: 100%;
            }
        }
        &__item-info {
            padding: 0 10px;
        }
        &__item-link {
            color: $title;
        }
        &__item-info-title {
            font-weight: 700;
            margin-top: 10px;
        }
        &__btn {
            text-align: center;
            margin-top: 30px;
        }
    }
    
    // end projects section
    // start results section
    .results {
        background-color: $dark-bg;
        color: $light-text;
        &__inner {
            padding: 50px 0;
        }
        &__title {
            font-size: 30px;
            line-height: 52px;
            width: 700px;
            margin-bottom: 50px;
        }
        &__box {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        &__item {
            width: 280px;
            .title {
                min-height: 72px;
            }
        }
        &__item-inner {
            margin-top: 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            padding: 15px;
            border: 2px solid $light-text;
            .number {
                font-size: 36px;
                line-height: 48px;
                @extend %Montserrat-Bold;
            }
            p {
                padding: 0;
                margin: 0;
            }
        }
        &__img {
            max-width: 100px;
            img {
                width: 100%;
                margin-top: 15px;
            }
        }
    }
    
    // start results section
    // start footer
    .footer {
        padding: 25px 0;
        background-color: #ebebeb;
        background-image: url('../images/contacts-bg.jpg');
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
        &__inner {
            display: flex;
            flex-direction: column;
        }
        &__inner-box {
            color: $light-text;
            border-radius: 8px;
            padding: 15px;
            display: flex;
            justify-content: space-between;
            position: relative;
        }
        &__logo {
            margin-bottom: 50px;
            align-self: end;
        }
        &__socials {
            margin: 20px 0 40px;
            img {
                width: 50px;
            }
        }
        &__credits {
            text-align: right;
            margin-right: 15px;
        }
        &__contacts-box {
            display: flex;
            flex-direction: column;
            a {
                font-size: 22px;
                line-height: 30px;
                margin-bottom: 20px;
            }
        }
        &__contacts-title {
            font-size: 22px;
            display: block;
            &::before {
                content: "";
                position: relative;
                float: left;
                margin-right: 15px;
                background-image: url('../images/icons/geo.svg');
                width: 40px;
                height: 40px;
                background-size: (100%-0%)
            }
            &:hover {
                &::before {
                    transform: rotate(360deg) scale(1.5);
                    transition: transform 0.8s, background-color 0.8s;
                    background-color: $title;
                    border-radius: 50%;
                }
            }
        }
        &__contacts-phone {
            font-size: 22px;
            display: block;
            &::before {
                content: "";
                position: relative;
                float: left;
                margin-right: 15px;
                background-image: url('../images/icons/phone.svg');
                width: 40px;
                height: 40px;
                background-size: (100%-0%)
            }
            &:hover {
                &::before {
                    transform: rotate(360deg) scale(1.5);
                    transition: transform 0.8s, background-color 0.8s;
                    background-color: $title;
                    border-radius: 50%;
                }
            }
        }
    }
    
    // end footer
    .lol {
        background-color: $dark-text;
        height: 300px;
    }
    
    @import "media";